body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
        135deg,
        #000000 0%,
        #440000 15%,
        #770000 20%,
        #aa0000 25%,
        #ff001e 30%,
        #ff1010 33%,
        #ff001e 35%,
        #ff1010 40%,
        #ff001e 43%,
        #be0d00 50%,
        #ff001e 57%,
        #ff1010 60%,
        #ff001e 65%,
        #ff1010 67%,
        #ff001e 70%,
        #aa0000 75%,
        #770000 80%,
        #440000 85%,
        #000000 100%
        );
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .013);
    color: #fff;
    font-size: 20px;
    margin-bottom: 2rem;
    text-shadow: 0px 10px 10px #000;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: #000 solid 2px;
    background-image: radial-gradient(#ee0000 0%, #af2222 100%);
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0px 10px 10px #000;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #fff;
    background-color: #b1000f;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #000;
    text-shadow: 0px 10px 10px #000;
}
.reset:hover {
    color: #D01111;
    background-color: #912626;
    box-shadow: inset -3px 3px 10px 4px #5a1818;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #912626;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border: 1px solid #000;
    cursor: pointer;
}
.item:hover::after{
    box-shadow: inset -3px 3px 10px 4px #5a1818;
}

.item.boxOpen {
    transform: rotateY(0deg);
}
.item.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}
.item img {
    height: 100px;
    width: 100px;
}

/* Relacionado ao menu inicial */
#gameContainer {
    /* display: none; */
    display: flex;
}
#startMenu {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.startMenu {
    padding: 15px 20px;
    width: 100%;
    color: #fff;
    background-color: #b1000f;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #000;
    text-shadow: 0px 10px 10px #000;
    margin: 1rem;
}
.startMenu:hover {
    color: #D01111;
    background-color: #912626;
    box-shadow: inset -3px 3px 10px 4px #5a1818;
}

/* Pontuações */

.points__container {
    display: flex;
    justify-content: space-around;
    width: 430px;
}

.points {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 32px;
    background-color: #b1000f;
    border: .5px solid #000;
    color: #fff;
    width: 45%;
    font-size: 1.4rem;
}